# Streamlit Cloud Secrets
DATABASE_URL = "postgresql://usuario:password@host:5432/base"
GMAIL_USER = "requerimientosvistamar@gmail.com"
GMAIL_APP_PASSWORD = "pega_aqui_tu_app_password_16"
GMAIL_FOLDER = "INBOX"
